{% extends "alienartifacts/layout.html" %}

{% block body %}

    <h1>Online Consent for Participation</h1>

    <p align="center">&nbsp;</p>
    <p align="center">YALE UNIVERSITY</p>
    <p align="center">&nbsp;YALE UNIVERSITY SCHOOL OF MEDICINE</p>
    <p align="center">DEPARTMENT OF PSYCHIATRY</p>
    <p align="center">&nbsp;</p>
    <p align="center">&nbsp;</p>
    <p align="center"><strong>Title</strong>: Latent State&nbsp;Reinforcement-Learning</p>
    <p align="center">&nbsp;</p>
    <p align="center"><strong>Principal Investigator:&nbsp;</strong>John Murray, Ph.D.,&nbsp;<a href="mailto:john.murray@yale.edu" style="font-size:inherit">john.murray@yale.edu</a></p>
    <p align="center"><strong>Contact:&nbsp;</strong>Warren Woodrich Pettine, M.D.,&nbsp;<a href="http://warren.pettine@yale.edu/" style="font-size:inherit">warren.pettine@yale.edu</a></p>
    <p>&nbsp;</p>
    <p><strong>Introduction</strong></p>
    <p>You are being asked to join a research study.&nbsp; The following information will explain the purpose of the study, what you will be asked to do, and the potential risks and benefits.</p>
    <p>&nbsp;</p>
    <p><strong>Purpose</strong></p>
    <p>The purpose of this study is to learn about cognitive strategies in the context of a rule-based reinforcement-learning task. You are being asked to participate because you are a Prolific or mTURK worker interested in this study. We are particularly interested in how psychiatric traits relate to cognitive strategies.</p>
    <p>&nbsp;</p>
    <p><strong>Procedures</strong></p>
    <p>If you choose to participate in the study, you will perform a rule-based reinforcement-learning task. You will be shown visual cues and you need to respond by pressing a key. Through trial and error, you will learn the correct key to press for a given stimulus. There is a tutorial and then several test blocks. You will also answer some questions about non-identifiable demographic information (e.g., gender, age, educational level), lifestyle (e.g., research familiarity), psychiatric history (e.g. formal diagnosis of autism), as well as questions from standard psychiatric questionnaires. You will earn $4&nbsp;for successfully completing the questionnaires and tutorial, as well as another $4&nbsp;for completing the task. You will earn up to $4&nbsp;bonus for responding accurately. This study should take less than 60 minutes to complete. We do not anticipate any risks during the study beyond those typically experienced on a day-to-day basis.&nbsp;</p>
    <p>&nbsp;</p>
    <p><strong>Possible Benefits</strong></p>
    <p>This research is not designed to benefit you directly. However, knowledge gained from the results may help us to better understand cognitive function, particularly those with psychiatric disorders.</p>
    <p>&nbsp;</p>
    <p><strong>Possible Risks</strong></p>
    <p>There is no physical or psychological risk in this study. There is a slight risk regarding the confidentiality of your participation in this study, if information about you becomes known to persons outside this study.&nbsp; The researchers are required to keep your study information confidential, however, so the risk of breach of confidentiality is very low.</p>
    <p>&nbsp;</p>
    <p><strong>Privacy / Confidentiality</strong></p>
    <p>We will not collect any identifying information such as your name. It is a possible that your work IDs is linked to your public profile. However, the worker IDs will only be collected for the purposes of distributing compensation. Furthermore, only the researchers involved in this study and those responsible for research oversight will have access to the worker IDs and other information you provide. The worker IDs will never be posted or published. Therefore, while your responses in the study are anonymous, your participation is confidential.&nbsp;</p>
    <p>&nbsp;</p>
    <p><strong>Voluntary Participation</strong></p>
    <p>Participation in this study is completely voluntary.&nbsp; You are free to decline to participate, and to end participation at any time for any reason. Refusing to participate will involve no penalty or loss of benefits to which you are otherwise entitled. By providing consent, you have not given up any of your legal rights.</p>
    <p>&nbsp;</p>
    <p><strong>Questions</strong></p>
    <p>You have read the above description of the research study, including the risks and benefits involved. At this point, if you have questions regarding the study that you would like to have answered before you begin, please email the Principal Investigator as described below.</p>
    <p>&nbsp;</p>
    <p>If you have any further questions about this study, you may contact the investigator, [Dr. Warren Woodrich Pettine,&nbsp;<a href="http://warren.pettine@yale.edu/" style="font-size:inherit">warren.pettine@yale.edu</a>]. If you would like to talk with someone other than the researchers to discuss problems, concerns, and questions you may have concerning this research, or to discuss your rights as a research subject, you may contact the Yale Human Investigation Committee at (203) 785-4688.</p>

    <a id="to-task" href="{% url link_url %}">Consent to join study</a>
{% endblock %}